main div.showFavor,aside.history{
    display: inline-block;
    vertical-align: middle;
}
main div.showFavor{
    width: 69%;
}
ul#FavoritesList{
    margin-left: 4.6%;
}
ul#FavoritesList>h2{
    font-size: 3vw;
    color: #171616;
    font-weight: bold;
    margin-bottom: 2%;
}
ul#FavoritesList>h2,ul#FavoritesList>img.allowSee{
    display: inline-block;
}
ul#FavoritesList>h2,ul#FavoritesList>img.notAllowSee{
    display: inline-block;
}
img.allowSee,img.notAllowSee{
    width:auto;
    max-width: 8%;
    margin-left: 2%;
    margin-bottom: -2%;
}
ul#FavoritesList>li{
    margin-top: 1%;
    margin-bottom: 3%;
}

aside.history{
    width: 23%;
    margin-left: 5%;
}

aside.history h2{
    font-size: 2.7vw;
    color: #13227a;
    font-weight: bold;
    margin-bottom: 4%;
}
aside.history li{
    font-size: 2vw;
    color: #171616;
    line-height: 2.2vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2%;
}
aside.history li a{
    color: #171616;
}
aside.history li a:hover{
    color: darkgoldenrod;
}
.NoFavorPic{
    margin: 1% 2.5% 3%;
    width: 100%;
    border-radius: 0.7rem;
    border: lightgrey 0.1rem solid;
    box-shadow: 5px 5px 3px #a9a9a9;
}
.NoFavorPic>p{
    font-family: "Ink Free", sans-serif;
    font-size: 2.8vw;
    color: #444444;
}
div.favoritePic{
    width: 100%;
    border-radius: 0.7rem;
    border: lightgrey 0.1rem solid;
    box-shadow: 5px 5px 3px #a9a9a9;
}
div.favoritePic>figure>figcaption,div.favoritePic>figure>a>img{
    display: inline-block;
    vertical-align: top;
}
div.favoritePic>figure{
    padding: 2%;
}
figure div.PicWrapper, figure figcaption{
    display: inline-block;
}
figure div.PicWrapper{
    width: 20%;
}
figure figcaption{
    width: 70%;
    margin-left: 1%;
}
figcaption div.favorPicTopic{
    font-size: 2.8vw;
    color: #13227a;
    font-weight: bold;
    margin-bottom: 2%;
}
figcaption div.description{
    width: 110%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-indent: 2rem;
    font-size: 1.7vw;
}
input[type="button"]{
    color: whitesmoke;
    background-color: #d4237a;
    width: 17%;
    border-radius: 0.6rem;
    font-size: 1.8vw;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 75%;
    margin-top: -5%;
}
input[type="button"]:hover{
    background-color: #f0248d;
}
@media (max-width: 768px){
    figcaption div.favorPicTopic{
        font-size: 4vw;
    }
    figcaption div.description{
        font-size: 2.4vw;
    }
    input[type="button"]{
        font-size: 2.5vw;
    }
}