div.functionPart{
    width: 50%;
    margin-left: 3%;
}
nav.pageNumber img.icon{
    width: auto;
    max-width: 5%;
}
h3{
    color: #13227a;
    font-weight: bold;
    font-size: 2.8vw;
    margin-top: 1.5%;
    margin-left: 5%;
    margin-bottom: 3%;
}
div.SearchUser input[type="text"]{
    margin-top: 2%;
    width: 75%;
    font-size: 1.8vw;
    padding-left: 0.5%;
}
input[type="submit"]{
    color: whitesmoke;
    background-color: #d4237a;
    width: 20%;
    border-radius: 0.6rem;
    font-size: 1.8vw;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    float: right;
    margin-top: 1.9%;
}
div.searchFriend{
    width: 90%;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1.5%;
    margin-left: 3%;
}
div.searchFriend img,div.searchFriend h4.name,p.status{
    display: inline-block;
}
p.status{
    color: darkgoldenrod;;
    font-size: 2vw;
    margin-left: -2%;
}
div.requestISend,div.requestIReceived,aside,section.showSearchResults{
    border: 0.06rem solid lightgrey;
    box-shadow: 3px 3px 1px #c2c2c2;
    border-radius: 0.6rem;
    margin-top: 2%;
}
div.sendFriend{
    width: 95%;
    display: inline-block;
    margin-bottom: 2.5%;
    margin-left: 3%;
}
div.receivedFriend{
    width: 90%;
    display: inline-block;
    margin-bottom: 2.5%;
    margin-left: 3%;
}

h4.name,div.status,p.response{
    display: inline-block;
}

h4.name{
    width: 52%;
    color: #171616;
    font-weight: bold;
    font-size: 2.2vw;
    margin-right: 3%;
    margin-left: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.status{
    color: #171616;
    font-size: 1.8vw;
    margin-right: -10%;
}
p.response{
    color: darkgoldenrod;;
    font-size: 1.8vw;
}
div.receivedFriend h4.name{
    width: 50%;
}
input[type="button"]{
    color: whitesmoke;
    width: 20%;
    border-radius: 0.6rem;
    font-size: 1.7vw;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    float: right;
}
input.accept,input.send{
    background-color: #13227a;
}
input.accept:hover,input.send:hover{
    background-color: #1731b1;
}
input.reject{
    background-color: #d4237a;
    margin-left: 2%;
    margin-right: -4%;
}
input.reject:hover,input[type="submit"]:hover{
    background-color: #f0248d;
}
aside{
    width: 44%;
    float: right;
    margin-right: 1%;
}
div.user{
    width: 98%;
    margin-left: 1%;
}
div.user img.icon,div.user h3.name,div.userInfo{
    display: inline-block;
}
div.user img.icon{
    width: auto;
    max-width: 9%;
    margin-bottom: 1.6%;
}
div.user h3.name{
    margin-left: 1%;
    width: 38%;
    font-size: 2.3vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.userInfo{
    width: 50%;
    vertical-align: top;
}
h3.name a,p.email a{
    color: #171616;
}
p.email a{
    color: #13227a;
}
p.registryDate{
    color: #d4237a;
}
h3.name a:hover,p.email a:hover{
    color: darkgoldenrod;
}