ul#MyPhotoList{
    margin-left: 5.5%;
}
ul#MyPhotoList>li{
    margin-bottom: 3%;
    margin-top: 0.2%;
}
.NoMyPic{
    margin: 1% 2.5% 2.5%;
    width: 94%;
    border: 0.1rem lightgrey solid;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 3px #a9a9a9;
}
.NoMyPic>p{
    padding: 2%;
    font-family: "Ink Free", sans-serif;
    font-size: 2.3vw;
    color: #444444;
}
div.myPic{
    margin-right: auto;
    margin-left: auto;
    width: 94%;
    border: 0.1rem lightgrey solid;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 3px #a9a9a9;
}
div.myPic>figure>figcaption,div.myPic>figure>div.PicWrapper{
    display: inline-block;
    vertical-align: top;
}
div.myPic>figure{
    padding: 2% 2% 0;
}
div.PicWrapper{
    width: 20%;
}
figure figcaption{
    margin-left: 1%;
    margin-right: 0;
    padding-right: 0;
    width: 70%;
    padding-bottom: 1%;
}
figcaption div.myPicTopic{
    font-size: 2.3vw;
    color: #13227a;
    font-weight: bold;
    margin-bottom: 3%;
}
figcaption div.description{
    width: 114%;
    height: 20%;
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-indent: 2em;
    font-size: 1.6vw;

}
input[type="button"]{
    color: whitesmoke;
    background-color: #d4237a;
    width: 24%;
    border-radius: 0.6rem;
    font-size: 1.6vw;
    padding-top: 1%;
    padding-bottom: 1%;
    float: right;
    margin: 3% -10% 0 15%;
}
input[name="modify"]{
    background-color: #13227a;
}
input[name="modify"]:hover{
    background-color: #182fa7;
}
input[name="delete"]{
    background-color: #d4237a;
}
input[name="delete"]:hover{
    background-color: #f0248d;
}
@media (max-width: 768px){
    figcaption div.myPicTopic{
        font-size: 3.5vw;
    }
    figcaption div.description{
        font-size: 2.4vw;
        -webkit-line-clamp: 3;
    }
    input[type="button"]{
        font-size: 2.3vw;
    }
}