html{
    background-image: repeating-linear-gradient(45deg, #d4237a 0, #d4237a 50px, #13227a 50px, #13227a 100px);
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 55%;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    font-family: Candara, sans-serif;
}
header{
    background-color: rgb(59, 59, 59);
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}
header h1{
    font-size: 5.5vw;
    margin-bottom: 3%;
}
div.slogan{
    font-family: "Ink Free", sans-serif;
    font-size: 2.5vw;
    padding-bottom: 2%;
}
main{
    width: 100%;
    flex: 1 0 auto;
    padding-top: 2%;
    text-align: center;
    font-size: 1.3rem;
    background-color: whitesmoke;
}
main h2{
    color: #13227a;
    font-size: 2.8vw;
    margin-top: 2%;
    margin-bottom: 2%;
}
fieldset{
    padding-top: 3%;
    height: 63%;
    margin-right: 2%;
    margin-left: 2%;
    border: 0.3rem dashed #13227a;
}
fieldset div{
    width: 80%;
    height: 20%;
}
legend{
    font-family: Constantia, sans-serif;
    font-size: 2.8vw;
    color: #d4237a;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}
label{
    margin-right: -13%;
    width: 110%;
    font-size: 1.6vw;
    color: #444444;
    text-align: right;
    vertical-align: center;
    float: right;
}
img.icon{
    width: auto;
    max-width: 5%;
}
input{
    width: 40%;
    margin-bottom: 1%;
    padding: 1%;
    font-size: 1.3vw;
    margin-right: 2%;
}
img#verifyCodePic{
    width: 20%;
    height: 37px;
}
input[name="registrySubmit"]{
    margin-top: 11%;
    margin-bottom: 3%;
    margin-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: whitesmoke;
    background-color: #d12376;
    border-radius: 3rem;
    width: 30%;
    font-size: 1.6vw;
}
input[name="registrySubmit"]:hover{
    background-color: #ff2694;
}
footer{
    flex: 0 0 auto;
    text-align: center;
    width: 100%;
    background-color: #cacaca;
    font-size: 1.1vw;
    color: #444444;
    line-height: 1.4;
}
footer div,footer address{
    display: inline;
    margin-right: 2%;
}
@media (max-width: 768px){
    body{
        max-width: 70%;
        width: 70%;
    }
    header h1{
        font-size: 7vw;
        margin-bottom: 3%;
    }
    div.slogan{
        font-size: 4vw;
    }
    main h2{
        font-size: 4vw;
    }
    label{
        font-size: 2.4vw;
    }
    input{
        font-size: 2vw;
    }
    input[name="registrySubmit"]{
        font-size: 2.4vw;
    }
}